<html>
    <head>
        <title>Halaman Register</title>
        <link rel="stylesheet" href="Style.css"> 
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="container">
            <img src="../Inventory/images/undraw_joyride_hnno (2).svg">
            <form action="" method="POST">
                <input type="text" name="namadepan" placeholder="Nama Depan"> <br>
                <input type="text" name="namabelakang" placeholder="Nama Belakang"> <br>
                <input type="text" name="email" placeholder="Email"> <br>
                <input type="password" name="password" placeholder="Password"> <br>
                <input type="password" name="password2" placeholder="Konfirmasi Password"> <br>
                <Button class="lanjut"><h4>Lanjut</h4></Button>
            </form>     
        </div>
    </body>
</html>